
<h4 class="DPC"> GRÁFICOS: "Detalhamento do pc"</h4>

<div class="col-md-4 flex processamento" >
    <p>Processamento</p>
    <div class="flex-item">
      <div class= "processaento-grafico">
      <canvas baseChart width="40" height="40"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-4 flex armazenamento" >
    <p> Disco</p>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
  </div>

  <br><br>

  <h4 class=" DA">GRÁFICOS: "Detalhamento Api"</h4>

  <div class="col-md-4 flex processo-api">
      <p>Processo da Api</p>
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="40" height="40"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-4 flex processamento-api">
      <p>Processamento</p>
    <div class="flex-item ">
      <div style="display: block;">
      <canvas baseChart width="40" height="40"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

  <div class="col-md-4 flex memoria-ram">
    <p>Memória ram</p>
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
</div>