
<div class="card">
  <div class="input-group mb-3">  
    <h5 class="card-title url"><Nav>NOME: </Nav></h5>
    <div class="txtt1">
      <input type="text" class="form-control txt1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  <div class="txtt2">
      <h5 class="card-title url nomeApi">E-MAIL: </h5>
    <input type="text" class="form-control txt2" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    
  </div>
  
  </div>
  <div >
      <button class="btnCadastro">
          Cadastrar</button>
  </div>

</div>
